section.the-end {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: relative;

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      margin: 0 0 3rem;
    }
  }
}