* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: var(--f_f);
  font-size: 1rem;
  line-height: 2.5rem;
}

a {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  // @include transition(0.3s);
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.form-row {
  margin: 0 0 2rem;
}

input {
  display: block;
  line-height: 2.5rem;
  width: 100%;
  border-radius: 0;
  border: solid 4px black;
}

.title {
  text-align: center;
}

.btn-wrapper {
  text-align: center;
  padding: 2rem 0;
}

.btn-hl {
  font-family: var(--f_f_s);
  letter-spacing: 2px;
  font-size: 2.5rem;
  line-height: 3rem;
}