section.section-page {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  padding: 1rem 1.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 1rem 1.5rem;
  & > a {
    margin-right: 0.5rem;
  }
  & > a:first-child {
    margin-right: auto;
  }
  & > a:last-child {
    margin-right: 0;
  }
}